*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 100%;
  background-color: #ff1493;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header > :first-child{
  margin-right: auto;
}

.header > div{
  height: 70px;
  flex-basis: 140px;
  margin: 0 10px;
  background-color: #ffc0cd;
}

.main{
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-visual{
  width: 300px;
  background-color: #98fb98;
}

.main-visual-content{
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #006400;
  justify-content: center;
}

.main-visual-content > div{
  height: 130px;
  flex-basis: 200px;
  margin: 10px;
  background-color: #ffff00;
}

.footer{
  width: 100%;
  padding: 20px;
  background-color: #1e90ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer > div{
  height: 40px;
  flex-basis: 45%;
  max-width: 600px;
  margin: 10px;
  background-color: #e0ffff;
}